<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input id="producto"
                           type="text" 
                           value=""
                           class="form-control"
                           placeholder="Nombre del productor"
                           ngModel
                           name="producto"
                           required
                           minlength="3" />
                    <span class="form-text text-danger" 
                          *ngIf="productoValido()">
                        Debe de ser de 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="precio" class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input id="precio"
                           type="number" 
                           value=""
                           class="form-control"
                           placeholder="Precio del producto"
                           ngModel
                           name="precio" 
                           required
                           min="0">
                    <span class="form-text text-danger" 
                           *ngIf="precioValido()">
                         Precio obligatorio
                     </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="existencias" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input id="existencias"
                           type="number" 
                           value=""
                           class="form-control"
                           placeholder="Existencias del producto"
                           [ngModel]="initialForm.existencias"
                           name="existencias" >
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" 
                            class="btn btn-primary float-end"
                            [disabled]="miFormulario.invalid">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>
    </div>

    <div class="col-sm-9">
        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>
    </div>
</div>
